CREATE DATABASE QuanLyNhaHang;
GO

USE QuanLyNhaHang;
GO

-- Người Dùng
CREATE TABLE NguoiDung (
    TaiKhoan NVARCHAR(50) NOT NULL PRIMARY KEY,
    MatKhau NVARCHAR(50) NOT NULL,
    VaiTro INT NOT NULL -- 0 = User, 1 = Admin
);
GO

-- Bàn Ăn
CREATE TABLE BanAn (
    MaBan INT IDENTITY(1,1) PRIMARY KEY,
    TenBan NVARCHAR(50) NOT NULL,
    TrangThai NVARCHAR(20) NOT NULL DEFAULT N'Trống'  -- Trống / Có Khách
);
GO

-- Thực Đơn (0 = Món ăn, 1 = Nước uống)
CREATE TABLE ThucDon (
    MaMon INT IDENTITY(1,1) PRIMARY KEY,
    TenMon NVARCHAR(100) NOT NULL,
    DonGia DECIMAL(18,2) NOT NULL,
    Loai INT NOT NULL, -- 0 = Món ăn, 1 = Nước uống
    DanhMuc NVARCHAR(50) NULL
);
GO

-- Hóa Đơn (0 = Chưa thanh toán, 1 = Đã thanh toán)
CREATE TABLE HoaDon (
    MaHD INT IDENTITY(1,1) PRIMARY KEY,
    MaBan INT NOT NULL,
    NgayLap DATETIME NOT NULL DEFAULT GETDATE(),
    NguoiLap NVARCHAR(50) NOT NULL,
    TongTien DECIMAL(18,2) DEFAULT 0,
    TrangThai INT NOT NULL DEFAULT 0, -- 0 = Chưa thanh toán, 1 = Đã thanh toán
    FOREIGN KEY (MaBan) REFERENCES BanAn(MaBan),
    FOREIGN KEY (NguoiLap) REFERENCES NguoiDung(TaiKhoan)
);
GO

-- Chi Tiết Hóa Đơn
CREATE TABLE ChiTietHoaDon (
    MaCTHD INT IDENTITY(1,1) PRIMARY KEY,
    MaHD INT NOT NULL,
    MaMon INT NOT NULL,
    SoLuong INT NOT NULL,
    DonGia DECIMAL(18,2) NOT NULL,
    ThanhTien AS (SoLuong * DonGia) PERSISTED,
    FOREIGN KEY (MaHD) REFERENCES HoaDon(MaHD),
    FOREIGN KEY (MaMon) REFERENCES ThucDon(MaMon)
);
GO

-- Dữ liệu mẫu
INSERT INTO NguoiDung (TaiKhoan, MatKhau, VaiTro) 
VALUES ('admin', '1', 1),
       ('user1', '1', 0);

INSERT INTO BanAn (TenBan) VALUES (N'Bàn 1'), (N'Bàn 2');

INSERT INTO ThucDon (TenMon, DonGia, Loai, DanhMuc)
VALUES 
    (N'Phở Bò', 45000, 0, N'Món Chính'),
    (N'Cơm Gà', 50000, 0, N'Món Chính'),
    (N'Trà Đá', 5000,  1, N'Nước Uống'),
    (N'Cà Phê Sữa', 25000, 1, N'Nước Uống');

-- Ví dụ thêm hóa đơn
INSERT INTO HoaDon (MaBan, NguoiLap, TongTien, TrangThai) 
VALUES (1, 'admin', 95000, 0);  -- 0 = Chưa thanh toán
GO